<div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="card" style="box-shadow: 0 0 10px rgb(105, 104, 104);">
                <div class="card-body">
                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label">Nombres:</label>
                      <input type="name" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label">Apellidos:</label>
                      <input type="name" class="form-control" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label">Dirección:</label>
                      <input type="email" class="form-control" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label">Número:</label>
                      <input type="" class="form-control" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label">Correo:</label>
                      <input type="" class="form-control" aria-describedby="emailHelp">
                    </div>

                    <div class="mt-3 text-center">
                      <button type="button" class="btn btn-primary"><a class="me-3" asp-controller="Usuarios" asp-action="Index" style="text-decoration: none; color:white">Crear usuario</a></button>
                        <button type="button" class="btn btn-primary"><a class="me-3" asp-controller="Usuarios" asp-action="Index" style="text-decoration: none; color:white">Volver a ususarios</a></button>
                    </div>
            
                </div>
            </div>
        </div>
</div>
