<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="titulo mb-5">
                    <h1>Sistema de géstion de biblioteca</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-3">
                      <button class="btn btn-secondary">Libros</button>
                </div>
                 <div class="col-md-3">
                      <button class="btn btn-secondary">Usuarios</button>
                </div>
                 <div class="col-md-3">
                      <button class="btn btn-secondary">Préstamos de libros</button>
                </div>
                 <div class="col-md-3">
                      <button class="btn btn-secondary">Historial de préstamos</button>
                </div>

            </div>
        </div>
    </div>

</div>